* {
    font-family: "Arial", Times, Serif;    
	color: #727272;
	background-color: #3F51B5;
	text-align: center;
}
.headerImageAlign{
margin-left: -35px;
width: 95%;
}
.primary {
	color: #727272;
	background-color: #3F51B5;
	border-color: #3F51B5;
}

.accent {
    color: #212121;
	text-align: center;

	background-color: #795548;
}

.valueFont {
    font-family: "Bauhaus 93", Verdana, Helvetica, sans-serif;
    font-size: 1.15em;
}

table {
margin-left: 20px;
margin-right: 20px;
width: 95%;
}
table, td, th {
    border: 1px solid #B6B6B6;
    border-collapse: collapse;

	}

td {
    width: 16%;
    height: 100px;
	color: #212121;
}

th {
    background-color:  #C5CAE9 ;
    font-size: 1.2em;
    
}

td.rowHeader {
	background-color:  #C5CAE9 ;
}

p.footer {
	color: #212121;
}

ul {
	list-style-type: none;
    list-style-position: inside;
}

.wrap {
    float:left;
    width:80%;
}
div.right {
    float:right;
    width:20%;
}

ul.Option{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #111;
}

.active {
    background-color: #4CAF50;
}
a.footerLink:link    {color:#795548; background-color:transparent; text-decoration:none}
a.footerLink:visited {color:#727272; background-color:transparent; text-decoration:none}
a.footerLink:hover   {color:#795548; background-color:transparent; text-decoration:underline}
a.footerLink:active  {color:#C5CAE9; background-color:transparent; text-decoration:underline}