* {
    font-family: "Arial", Times, Serif;    
	color: #727272;
	background-color: #FAFAD2;
	text-align: center;
}

.header {
	position: fixed;
    top: 0px;
    left: 0px;

}

.bannerWidth {
	margin-left: 0%;
	margin-right: 0%;
	width: 100%;
}

.bannerHeight {
    height: 100px;
}

.headerMenu {
	height: 40px;
	position: fixed;
    top: 140px;
    left: 0px;
}

.pageHeader{
	font-family: "harrington";
	color: red;
	font-size: 200%;
	text-align: left;
}

.h1 {
    font-size: 200%;
	font-family: Charlemagne Std;
	text-align: left;
	margin-left:10px
}

.h2{
	font-size: 120%;
	text-decoration: underline;
	font-style: italic;
	color: #007fff;
}

.h3{
	font-size: 90%;
}

.baseWidth {
	width: 100%;
}

.tableSeparate{
	height:30px
}

.tableInfo
{
	width: 15%;
}

.bodyHeight {
	height: 100px;
}

.RowInfo {
	width: 100%;
}

}
.infoTitle{
	font-weight: bold;
}

table, th, td {
    border: 1px solid black;
}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a:active {
    text-decoration: underline;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    border: 0px solid #e7e7e7;
    background-color: #FAFAD2;
}

li {
    float: left;
}

li a {
    display: block;
    color: #666;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #B0C4DE;
}

li a.active {
    color: white;
    background-color: #5F9EA0;
